.pageheader-content.row
    .col-full
        .featured
            .featured__column.featured__column--big
                .entry(style=`background-image:url('${articles[0].thumbnail}');`)
                    .entry__content
                        span.entry__category
                            a(href='#') #{articles[0].category[0]}
                        h1
                            a(href='#0' title='') #{articles[0].title}.
                        .entry__info
                            a.entry__profile-pic(href='#0')
                                img.avatar(src='/favicon.png' alt='')
                            ul.entry__meta
                                li
                                    a(href='#0') Yasser Goumghar
                                li #{articles[0].createdAt.string.split(/\s+/).slice(0, 4).join(' ')}
                    // end entry__content
                    // end entry
                    // end featured__big
            .featured__column.featured__column--small
                - for (var i = 1; i < 3; i++) {
                    .entry(style=`background-image:url(${articles[i].thumbnail});`)
                        .entry__content
                            span.entry__category
                                a(href='#0') #{articles[i].category[0]}
                            h1
                                a(href='#0' title='') #{articles[i].title}.
                            .entry__info
                                a.entry__profile-pic(href='#0')
                                    img.avatar(src='/favicon.png' alt='')
                                ul.entry__meta
                                    li
                                        a(href='#0') Yasser Goumghar
                                    li #{articles[0].createdAt.string.split(/\s+/).slice(0, 4).join(' ')}
                        // end entry__content
                        // end entry
                - }
                    // end featured__small
                    // end featured
                    // end col-full
                    // end pageheader-content row