extends base

block content
    section.s-content.s-content--narrow
        article.row.format-standard
            .s-content__header.col-full
                h1.s-content__header-title
                    | #{article.title}
                ul.s-content__header-meta
                    li.date #{article.createdAt.string.split(/\s+/).slice(0, 4).join(' ')}
                    li.cat
                        | In 
                        each category in article.category
                            a(href=`/categories/${category}`) #{category}  
            // end s-content__header
            .s-content__media.col-full
                .s-content__post-thumb
                    img(src=article.thumbnail) 
            .col-full.s-content__main
                | !{article.sanitizedHtml}


            .about
                h3 About the Author
                .s-content__author
                    img(src='/images/favicon.png' alt='')
                    .s-content__author-about
                        h4.s-content__author-name
                            a(href='/about') Yasser Goumghar
                        p
                            | Hey, I'm Yasser Goumghar, a Moroccan entrepreneur, Marketer, Full Stack Developper, and a High School Student.
                        ul.s-content__author-social
                            li
                                a(href='https://twitter.com/iKarasumaRenya' target='_blank') Twitter
                // end s-content__main
